@font-face {
    font-family: "Chill Pixels";
    src: url(/font/ChillPixels-Maximal.otf);
}

@font-face {
    font-family: "Dogica Pixel";
    src: url(/font/dogicapixel.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Dogica Pixel";
    src: url(/font/dogicapixelbold.otf);
    font-weight: bold;
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
    color: #FFFFFF;
    font-family: "Chill Pixels";
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #000000;
    background-image: url("imgs/background.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    max-width: 100%;
}

.container {
	max-width: 100%;
    height: var(--tg-viewport-height);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.inner-wrapper {
	display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 24px;
}

.main-game-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.counter-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.amount { 
    font-family: "Dogica Pixel";
    font-size: 36px;
    font-weight: bold;
}

.blobe-coin {
    width: 40px;
    height: 38px;
}

.league {
    font-size: 8px;
    font-family: "Dogica Pixel";
    color: #74C9FE;
}

.blob-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 227px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.bubble { 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.stamina-bar-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.progress {
    --progress: 100%;
    
    width: 170px;
    height: 20px;
    border: 2px solid #000000;
    box-shadow: 0 0 10px #aaa;
    border-radius: 50px;
    background-color: #ffffff;
    outline: 4px solid rgba(200,255,134,1);
  }
  
  .progress .bar {
    width: var(--progress);
    height: 100%;
    background: linear-gradient(#74C9FE, #74C9FE, #74C9FE);
    background-repeat: repeat;
    box-shadow: 0 0 10px 0px #74C9FE;
    animation: 
      shine 4s ease-in infinite,
      end 1s ease-out 1 7s;
    border-radius: 50px;
    box-shadow: 0 0 10px 0px #74C9FE, inset 0px -2px 0px rgba(41, 100, 157, 0.50), inset 0px -6px 0px rgba(54, 142, 174, 0.40);
  }
  
  @property --progress {
    syntax: "<length>";
    initial-value: 100%;
    inherits: true;
  }
  
  @keyframes shine {
    0% { background-position: 0 0; }
    100% { background-position: 0 50px; }
  }
  
  @keyframes end {
    0%, 100% { box-shadow: 0 0 10px 0px #74C9FE, inset 0px -2px 0px rgba(41, 100, 157, 0.50), inset 0px -6px 0px rgba(54, 142, 174, 0.40); }
    50% { box-shadow: 0 0 15px 5px #74C9FE, inset 0px -2px 0px rgba(41, 100, 157, 0.50), inset 0px -6px 0px rgba(54, 142, 174, 0.40); }
  }

.energy-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.energy-ico {
    width: 18px;
    height: 24px;
}

.energy-amount {
    display: flex;
    color: #74C9FE;
    width: 45px;
    justify-content: center;
}

.flyingtext {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    position: absolute;
    z-index: 10;
    margin-left: -200px;
    top: 375px;
    font-size: 32px;
    pointer-events: none;
}

.bottom-frame {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    top: 100%;
}