@font-face {
    font-family: "Chill Pixels";
    src: url(/font/ChillPixels-Maximal.otf);
}

@font-face {
    font-family: "Dogica Pixel";
    src: url(/font/dogica.otf);
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
    color: #FFFFFF;
    font-family: "Chill Pixels";
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url("imgs/background.png");
    background-size: 125%;
    background-repeat: repeat;
    background-position: center;
}

.container {
	max-width: 360px;
    height: 800px;
    background-image: url("imgs/background.png");
    background-size: 300%;
    background-repeat: repeat;
    background-position: center;
}

.inner-wrapper {
	display: flex;
    flex-direction: column;
    gap: 55px;
    padding: 40px;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 24px;
}

.main-game-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.counter-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.blobe-coin {
    width: 40px;
    height: 38px;
}

.league {
    font-size: 8px;
    font-family: "Dogica Pixel";
    color: #74C9FE;
}

.blob-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.bubble { 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.stamina-bar-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

progress {
    border-radius: 25px; 
    width: 167px;
    height: 27px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}

progress::-webkit-progress-bar {
    background: linear-gradient(180deg, rgba(200,255,134,1) 0%, rgba(114,157,63,1) 100%);
    border-radius: 25px;
    padding: 3.5px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    box-shadow: inset 2px 3px 0px rgba(255, 255, 255, 0.3);
}

progress::-webkit-progress-value {
    background-color: #74C9FE;
    border-radius: 25px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    box-shadow: inset 0px -2px 0px rgba(41, 100, 157, 0.50), inset 0px -6px 0px rgba(54, 142, 174, 0.40);
}

.energy-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.energy-ico {
    width: 18px;
    height: 24px;
}

.energy-amount {
    color: #74C9FE;
}

.flyingtext {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    position: absolute;
    z-index: 10;
    top: 375px;
    font-size: 32px;
    pointer-events: none;
}